{#
/**
 * @file
 * Display Suite 2 column stacked template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - header_wrapper: wrapper element around header region
 * - left_wrapper: wrapper element around left region
 * - right_wrapper: wrapper element around right region
 * - footer_wrapper: wrapper element around footer region
 * - attributes: layout attributes
 * - header_attributes: attributes for header region
 * - left_attributes: attributes for left region
 * - right_attributes: attributes for right region
 * - footer_attributes: attributes for footer region
 * - header: content of header region
 * - left: content of left region
 * - right: content of right region
 * - footer: content of footer region
 */
#}
<article class="glbrc-layout three-column three-column--stacked mobile-right-top clearfix">
  <div class="region-header">
    {{ content.header }}
  </div>
  <div class="region-content">
    <div class="region-left">
      {{ content.left }}
    </div>
    <div class="region-middle-right">
      <div class="region-middle-right-header">
        {{ content.middlerightheader }}
      </div>
      <div class="region-right">
        {{ content.right }}
      </div>
      <div class="region-middle">
        {{ content.middle }}
      </div>
    </div>
  </div>
  <div class="region-footer">
    {{ content.footer }}
  </div>
</article>

